examples/authCodeInject.json
[{"id":"e4fd21605af4dd01","type":"myuplink","z":"b4de871a.229aa8","name":"","server":null,"outputChoice":"default","systemUnitId":"","x":510,"y":620,"wires":[[]]},{"id":"255226a5accad9e0","type":"inject","z":"b4de871a.229aa8","name":"insert authCode","props":[{"p":"authCode","v":"insertYourOnetimeAuthCodeHere","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":200,"y":600,"wires":[["e4fd21605af4dd01"]]},{"id":"cfe4951f4a1dde5a","type":"complete","z":"b4de871a.229aa8","name":"","scope":["e4fd21605af4dd01"],"uncaught":false,"x":190,"y":680,"wires":[["6ead39f31188059b"]]},{"id":"5793b7cf95108717","type":"catch","z":"b4de871a.229aa8","name":"","scope":["e4fd21605af4dd01"],"uncaught":false,"x":170,"y":740,"wires":[["8e81131360ebf79d"]]},{"id":"ac5786fae749df98","type":"debug","z":"b4de871a.229aa8","name":"debug 260","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":680,"wires":[]},{"id":"6ead39f31188059b","type":"template","z":"b4de871a.229aa8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"myUplink authendicated and works","output":"str","x":360,"y":680,"wires":[["ac5786fae749df98"]]},{"id":"9f6d926bb0381844","type":"template","z":"b4de871a.229aa8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Error: myUplink authcode did not work","output":"str","x":480,"y":740,"wires":[["ac5786fae749df98"]]},{"id":"e11437c3436a6201","type":"inject","z":"b4de871a.229aa8","name":"Get link to authcode in console","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":250,"y":640,"wires":[["e4fd21605af4dd01"]]},{"id":"8e81131360ebf79d","type":"function","z":"b4de871a.229aa8","name":"function 1","func":"if (String(msg.error.message).includes('Need new authCode')) {\n    node.warn(msg.error.message)\n    return\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":740,"wires":[["9f6d926bb0381844"]]}]