examples/basic.json
[{"id":"28c3b70a21bed272","type":"inject","z":"ee79326e788e5b10","name":"default data from master","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":460,"wires":[["ddd047267cc60e04"]]},{"id":"ddd047267cc60e04","type":"nibeuplink","z":"ee79326e788e5b10","name":"","server":"","outputChoice":"default","systemUnitId":"","x":450,"y":460,"wires":[["4a2fd6fdaae1e9b7"]]},{"id":"4a2fd6fdaae1e9b7","type":"debug","z":"ee79326e788e5b10","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":640,"y":460,"wires":[]},{"id":"9c1924627862e851","type":"nibeuplink","z":"ee79326e788e5b10","name":"Nibe category","server":"","outputChoice":"categories","systemUnitId":"","x":440,"y":540,"wires":[["17fdd2dd1d9ad16b"]]},{"id":"666a80f001a9e5cd","type":"nibeuplink","z":"ee79326e788e5b10","name":"Nibe systemStatus","server":"","outputChoice":"statusSystemUnit","systemUnitId":"","x":450,"y":640,"wires":[["9487a4c5ad85e3e3"]]},{"id":"2b947e2c5bf55eb2","type":"inject","z":"ee79326e788e5b10","name":"data from master","props":[{"p":"category","v":"STATUS","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":200,"y":520,"wires":[["9c1924627862e851"]]},{"id":"17fdd2dd1d9ad16b","type":"debug","z":"ee79326e788e5b10","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":640,"y":540,"wires":[]},{"id":"3b3145c64befce89","type":"inject","z":"ee79326e788e5b10","name":"data from first slave","props":[{"p":"category","v":"STATUS","vt":"str"},{"p":"systemUnitId","v":"1","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":210,"y":560,"wires":[["9c1924627862e851"]]},{"id":"eb1236b8ea749a70","type":"inject","z":"ee79326e788e5b10","name":"status of master","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":200,"y":620,"wires":[["666a80f001a9e5cd"]]},{"id":"a0d944d6f6423ef8","type":"inject","z":"ee79326e788e5b10","name":"status of first slave","props":[{"p":"systemUnitId","v":"1","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":210,"y":660,"wires":[["666a80f001a9e5cd"]]},{"id":"9487a4c5ad85e3e3","type":"debug","z":"ee79326e788e5b10","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":640,"y":640,"wires":[]}]