examples/basic.json
[{"id":"73ac3930694e0b7c","type":"myuplink","z":"ee79326e788e5b10","name":"","server":false,"outputChoice":"default","systemUnitId":"","x":510,"y":260,"wires":[["a33fd6d6e6479ddc","630d44bc49cc9c4c"]]},{"id":"eb74b5c947d985dd","type":"inject","z":"ee79326e788e5b10","name":"Get all data points","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":260,"wires":[["73ac3930694e0b7c"]]},{"id":"a33fd6d6e6479ddc","type":"debug","z":"ee79326e788e5b10","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":800,"y":260,"wires":[]},{"id":"60c13a05e8dc5164","type":"myuplink","z":"ee79326e788e5b10","name":"","server":false,"outputChoice":"systems","systemUnitId":"","x":490,"y":180,"wires":[["ff5979047af3d6a2"]]},{"id":"513fae939ea9aae9","type":"inject","z":"ee79326e788e5b10","name":"Get systems","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":180,"wires":[["60c13a05e8dc5164"]]},{"id":"ff5979047af3d6a2","type":"debug","z":"ee79326e788e5b10","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":800,"y":180,"wires":[]},{"id":"630d44bc49cc9c4c","type":"function","z":"ee79326e788e5b10","name":"return only writable data points","func":"const newObject = {}\nfor (const key in msg.payload) {\n    // Check if the sub-object has a property named \"writable\" with a value of true\n    if (msg.payload[key].hasOwnProperty('writable') && msg.payload[key].writable === true) {\n        newObject[key] = msg.payload[key]\n    }\n}\nmsg.payload = newObject\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":320,"wires":[["5d48bf816c24dbf6"]]},{"id":"5d48bf816c24dbf6","type":"debug","z":"ee79326e788e5b10","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":800,"y":320,"wires":[]},{"id":"70aa2128ae563e6f","type":"myuplink","z":"ee79326e788e5b10","name":"","server":false,"outputChoice":"GET-smart-home-mode","systemUnitId":"","x":560,"y":380,"wires":[["6b6d55348f1315e8"]]},{"id":"a2293726136b99b3","type":"inject","z":"ee79326e788e5b10","name":"GET-smart-home-mode","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":280,"y":380,"wires":[["70aa2128ae563e6f"]]},{"id":"6b6d55348f1315e8","type":"debug","z":"ee79326e788e5b10","name":"debug 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":800,"y":380,"wires":[]},{"id":"622528b0dc90f0c0","type":"myuplink","z":"ee79326e788e5b10","name":"","server":false,"outputChoice":"PUT-smart-home-mode","systemUnitId":"","x":520,"y":480,"wires":[["712204d2d5caf1e9"]]},{"id":"0ec6d48af755dd70","type":"inject","z":"ee79326e788e5b10","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Default","payloadType":"str","x":230,"y":420,"wires":[["622528b0dc90f0c0"]]},{"id":"712204d2d5caf1e9","type":"debug","z":"ee79326e788e5b10","name":"debug 6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":800,"y":480,"wires":[]},{"id":"75bedb75f494cec8","type":"inject","z":"ee79326e788e5b10","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Normal","payloadType":"str","x":230,"y":460,"wires":[["622528b0dc90f0c0"]]},{"id":"2a6e90bec252b8f6","type":"inject","z":"ee79326e788e5b10","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Away","payloadType":"str","x":230,"y":500,"wires":[["622528b0dc90f0c0"]]},{"id":"af2533ce90768ff7","type":"inject","z":"ee79326e788e5b10","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Vacation","payloadType":"str","x":240,"y":540,"wires":[["622528b0dc90f0c0"]]},{"id":"2f1e442d938f9bb3","type":"inject","z":"ee79326e788e5b10","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Home","payloadType":"str","x":230,"y":580,"wires":[["622528b0dc90f0c0"]]},{"id":"48af59b8ef2a86a1","type":"myuplink","z":"ee79326e788e5b10","name":"","server":false,"outputChoice":"GET-devices-points","systemUnitId":"","x":530,"y":640,"wires":[["b95ab21886f133f1"]]},{"id":"5089a4772c738ed1","type":"inject","z":"ee79326e788e5b10","name":"GET-devices-points","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":640,"wires":[["48af59b8ef2a86a1"]]},{"id":"b95ab21886f133f1","type":"debug","z":"ee79326e788e5b10","name":"debug 7","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":800,"y":640,"wires":[]},{"id":"353b3c19f0c32294","type":"debug","z":"ee79326e788e5b10","name":"debug 8","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":800,"y":720,"wires":[]},{"id":"6decdd74351d69a6","type":"myuplink","z":"ee79326e788e5b10","name":"","server":false,"outputChoice":"PATCH-devices-points","systemUnitId":"","x":510,"y":720,"wires":[["353b3c19f0c32294"]]},{"id":"590fc57e5382c744","type":"inject","z":"ee79326e788e5b10","name":"Start lux mode","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"50004\":\"1\"}","payloadType":"json","x":250,"y":700,"wires":[["6decdd74351d69a6"]]},{"id":"418cb29ab90c7259","type":"inject","z":"ee79326e788e5b10","name":"Stop lux mode","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"50004\":\"0\"}","payloadType":"json","x":250,"y":740,"wires":[["6decdd74351d69a6"]]}]