examples/make-thermostat.json
[{"id":"a9685d949f306a18","type":"inject","z":"ee79326e788e5b10","name":"Make thermostat","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1740","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"externalId\":1,\"name\":\"sample string 2\",\"actualTemp\":220,\"targetTemp\":215,\"valvePosition\":1,\"climateSystems\":[1]}","payloadType":"json","x":210,"y":2240,"wires":[["07c617cbdb663ea6"]]},{"id":"ea4c646946d8cfa3","type":"debug","z":"ee79326e788e5b10","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":2240,"wires":[]},{"id":"07c617cbdb663ea6","type":"nibeuplink","z":"ee79326e788e5b10","name":"","server":false,"outputChoice":"thermostatsPost","systemUnitId":"","x":460,"y":2240,"wires":[["ea4c646946d8cfa3"]]},{"id":"038861f47ee97f9f","type":"comment","z":"ee79326e788e5b10","name":"Must repeat less then every 30min","info":"","x":260,"y":2280,"wires":[]}]