examples/parameters.json
[{"id":"1d65471a4d1cf826","type":"inject","z":"ee79326e788e5b10","name":"get hot_water_boost","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"parameterIds\":[\"hot_water_boost\"]}","payloadType":"json","x":210,"y":2560,"wires":[["f15781a2063421d3"]]},{"id":"11a3faee45d126c2","type":"inject","z":"ee79326e788e5b10","name":"set hot_water_boost","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"settings\":{\"hot_water_boost\": \"1\"}}","payloadType":"json","x":210,"y":2620,"wires":[["f03638e97883820e"]]},{"id":"f15781a2063421d3","type":"nibeuplink","z":"ee79326e788e5b10","name":"","server":"","outputChoice":"parametersGet","systemUnitId":"","x":460,"y":2560,"wires":[["8ef4e49861df4bae"]]},{"id":"8ef4e49861df4bae","type":"debug","z":"ee79326e788e5b10","name":"debug 21","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":680,"y":2560,"wires":[]},{"id":"a18d08074e1021cf","type":"debug","z":"ee79326e788e5b10","name":"debug 22","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":680,"y":2620,"wires":[]},{"id":"f03638e97883820e","type":"nibeuplink","z":"ee79326e788e5b10","name":"","server":"","outputChoice":"parametersPut","systemUnitId":"","x":460,"y":2620,"wires":[["a18d08074e1021cf"]]}]