examples/vacation-mode.json
[{"id":"622528b0dc90f0c0","type":"myuplink","z":"ee79326e788e5b10","name":"","server":false,"outputChoice":"PUT-smart-home-mode","systemUnitId":"","x":520,"y":460,"wires":[["712204d2d5caf1e9"]]},{"id":"0ec6d48af755dd70","type":"inject","z":"ee79326e788e5b10","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Default","payloadType":"str","x":230,"y":400,"wires":[["622528b0dc90f0c0"]]},{"id":"712204d2d5caf1e9","type":"debug","z":"ee79326e788e5b10","name":"debug 6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":820,"y":460,"wires":[]},{"id":"75bedb75f494cec8","type":"inject","z":"ee79326e788e5b10","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Normal","payloadType":"str","x":230,"y":440,"wires":[["622528b0dc90f0c0"]]},{"id":"2a6e90bec252b8f6","type":"inject","z":"ee79326e788e5b10","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Away","payloadType":"str","x":230,"y":480,"wires":[["622528b0dc90f0c0"]]},{"id":"af2533ce90768ff7","type":"inject","z":"ee79326e788e5b10","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Vacation","payloadType":"str","x":240,"y":520,"wires":[["622528b0dc90f0c0"]]},{"id":"2f1e442d938f9bb3","type":"inject","z":"ee79326e788e5b10","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Home","payloadType":"str","x":230,"y":560,"wires":[["622528b0dc90f0c0"]]}]