examples/vacation-mode.json
[{"id":"9d36273060f26631","type":"comment","z":"b4de871a.229aa8","name":"Must repeat less then every 30min","info":"","x":620,"y":2160,"wires":[]},{"id":"8cacc7f3b926fbaf","type":"inject","z":"b4de871a.229aa8","name":"VACATION","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":2120,"wires":[["f0da7d677928f5d4"]]},{"id":"fa260768c8f3fb8e","type":"inject","z":"b4de871a.229aa8","name":"NORMAL","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":2200,"wires":[["2679b32420964e8e","d053524ed2eb40fb"]]},{"id":"f0da7d677928f5d4","type":"change","z":"b4de871a.229aa8","name":"VACATION","rules":[{"t":"set","p":"nibeUplinkMode","pt":"flow","to":"{\"mode\":\"VACATION\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":2120,"wires":[["742a49bae9d02486"]]},{"id":"2679b32420964e8e","type":"change","z":"b4de871a.229aa8","name":"DEFAULT_OPERATION","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mode\":\"DEFAULT_OPERATION\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":2200,"wires":[["8c81a483bffa1e3c"]]},{"id":"742a49bae9d02486","type":"trigger","z":"b4de871a.229aa8","name":"","op1":"{\"mode\":\"VACATION\"}","op2":"0","op1type":"json","op2type":"num","duration":"-14","extend":false,"overrideDelay":false,"units":"min","reset":"0","bytopic":"all","topic":"topic","outputs":1,"x":610,"y":2120,"wires":[["8c81a483bffa1e3c"]]},{"id":"d053524ed2eb40fb","type":"change","z":"b4de871a.229aa8","name":"reset trigger","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":2160,"wires":[["742a49bae9d02486"]]},{"id":"e0044fac3558b173","type":"nibeuplink","z":"b4de871a.229aa8","name":"","server":false,"outputChoice":"modeGet","systemUnitId":"","x":500,"y":2060,"wires":[["93dc9f5ffd61af62"]]},{"id":"86a87920a65ed32e","type":"inject","z":"b4de871a.229aa8","name":"Get current acive mode","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":2060,"wires":[["e0044fac3558b173"]]},{"id":"93dc9f5ffd61af62","type":"debug","z":"b4de871a.229aa8","name":"debug 112","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":720,"y":2060,"wires":[]},{"id":"8c81a483bffa1e3c","type":"nibeuplink","z":"b4de871a.229aa8","name":"","server":false,"outputChoice":"modePut","systemUnitId":"","x":960,"y":2180,"wires":[[]]}]