examples/vacation-mode.json
[{"id":"775587afd627fd12","type":"nibeuplink","z":"ee79326e788e5b10","name":"","server":"","outputChoice":"modeGet","systemUnitId":"","x":480,"y":1980,"wires":[["3ac65c6ec90a29d6"]]},{"id":"0214e013f18a60c8","type":"inject","z":"ee79326e788e5b10","name":"Get current acive mode","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":1980,"wires":[["775587afd627fd12"]]},{"id":"3ac65c6ec90a29d6","type":"debug","z":"ee79326e788e5b10","name":"debug 16","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":700,"y":1980,"wires":[]},{"id":"077cc0ce14bb5d48","type":"nibeuplink","z":"ee79326e788e5b10","name":"","server":"","outputChoice":"modePut","systemUnitId":"","x":480,"y":2020,"wires":[["c625a63470038a72"]]},{"id":"7d3d7848fe01c057","type":"inject","z":"ee79326e788e5b10","name":"VACATION","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"mode\":\"VACATION\"}","payloadType":"json","x":160,"y":2020,"wires":[["077cc0ce14bb5d48"]]},{"id":"c625a63470038a72","type":"debug","z":"ee79326e788e5b10","name":"debug 17","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":700,"y":2020,"wires":[]},{"id":"1a503d9b356395fe","type":"inject","z":"ee79326e788e5b10","name":"DEFAULT_OPERATION","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"mode\":\"DEFAULT_OPERATION\"}","payloadType":"json","x":210,"y":2060,"wires":[["077cc0ce14bb5d48"]]},{"id":"9d36273060f26631","type":"comment","z":"ee79326e788e5b10","name":"Must repeat less then every 30min","info":"","x":500,"y":2060,"wires":[]}]